PORT=4000
DATABASE_URL="postgresql://user:password@localhost:5432/vyne?schema=public"
JWT_SECRET="your-secret-key"
CF_ACCOUNT_ID="your-cloudflare-account-id"
CF_PROJECT="your-cloudflare-project-name"
CF_API_TOKEN="your-cloudflare-api-token"
GOOGLE_GENERATIVE_AI_API_KEY="your-google-ai-key"
